.brief {
  width: 100%;
  background-color: transparent;
  border-radius: 12px;
  height: 48px;
  padding: 0px 11px;
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.brief .left {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 0 0 300px;
}

.brief .right {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  margin-left: 30px;
}

.brief:hover {
  background-color: var(--side-back);
}

.brief .mid {
  width: 100px;
  flex: 1 1 auto;
  display: inline-flex;

}

.brief .short {

  /* max-width: 100%; */
  /* width: 100px; */
  flex: 1 1 auto;
  /* white-space: nowrap; */
  font-weight: 700;
  font-size: 15px;
  color: var(--brief-bold);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.brief .text {
  width: 0px;
  flex: 1 0 auto;
  overflow: hidden;
  font-weight: 400;
  font-size: 15px;
  color: var(--brief-thin);
  margin-left: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.brief .name {
  margin-left: 13px;
  font-weight: 700;
  font-size: 15px;
  color: var(--brief-bold);
  width: 190px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.name.readed {
  font-weight: 400;
}

.short.readed {
  font-weight: 400;
}


.ava {
  width: 32px;
  height: 32px;
  margin-left: 11px;
  position: relative;
}

.ava .dot {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translate(0, -50%);
}

.ava img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

@media screen and (max-width: 1100px) {}