.brief {
  width: 100%;
  background-color: transparent;
  border-radius: 12px;
  height: 48px;
  display: flex;
  align-items: center;
}

.brief:hover {
  background-color: var(--side-back);
}

.brief h3 {
  font-weight: 700;
  font-size: 15px;
  color: var(--brief-bold);
}

.brief h4 {
  font-weight: 400;
  font-size: 15px;
  color: var(--brief-thin);
}