.bottom {
  width: 40px;
  cursor: pointer;
}

.bottom span {
  color: var(--text);
}

.sidebar {
  grid-area: sidebar;
  padding: 0px 16px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar span {
  margin-left: 10px;
}

.addFolder {
  width: 200px;
  height: 36px;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0px 14px;
  margin-top: 8px;
  cursor: pointer;
}

.addFolder span {
  color: var(--side-folder);
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid var(--but-bor);
  border-radius: 8px;
}

.top a {
  color: #333333;
  font-weight: 700;
  font-size: 15px;
}

.mid {
  flex: 1 1 auto;
  margin-top: 12px;
}

.mid hr {
  margin-top: 8px;
  width: 100%;
  height: 2px;
  background-color: var(--but-bor);
}

.bottom {
  width: 100%;
  display: flex;
  align-items: center;

}