.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 56px 1fr;
  grid-template-columns: 232px 1fr;
  row-gap: 13px;
  background-color: var(--back-app);

  grid-template-areas:
    "navbar navbar"
    "sidebar content";
}

body *:hover {
  cursor: url("../img/cursor.svg");
}


.content {
  grid-area: content;
}

.count {
  color: var(--text);
}

@media screen and (max-width:1000px) {
  .App {

    grid-template-columns: 65px 1fr;
  }
}