.linkToPage {
  background-color: var(--side-back);
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0px 14px;
  border-radius: 8px;
}


.linkToPage:hover,
.currentPage {
  background-color: var(--side-back);
}

.linkToPage span {
  display: block;
  margin-left: 10px;
  color: var(--side-text);

}



@media screen and (max-width: 1000px) {

  .linkToPage {
    padding: 0;
    justify-content: center;
  }

  .linkToPage span {
    display: none;
  }
}